.btn-xm {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    /*margin-top: -2px;*/
}
 .bootbox-wide{
  width: 80% !important;  
}
/* OTHERS */
  .big-man-input{
    width:100%;
    height:45px;
    font-size:23px;
    font-weight:bold;
    text-align:left;
    box-shadow:none;
    margin:0 auto;
  }

.ul-hover-blue li:hover{
  background-color: #2daebf;
  color:#fff;
}
.div-no-spaces div{
  margin: 0;
  padding: 0;
}
.div-no-raduis div{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.vertical-list{
	margin: 0;
	padding: 0px 0px;
	list-style: none;
}
.vertical-list li{
  border-radius: 2px;
  padding: 10px;
  background: #f3f4f5;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.vertical-list .handle {
  display: inline-block;
  margin: 0 5px;
}
.vertical-list li a {
  float:right;
}
.vertical-list li a.text {
  float:none;
  font-weight: bold;
}
.manager-call-pop .form-group label{
  font-size:18px;
  color:#fff;
}
.manager-call-pop div{
  border-radius: 0;
}
.manager-call-pop .modal-body{
  background-color: #007d9a;
}
.manager-call-pop .modal-footer{
  margin-top:0px;
  padding: 5px;
  text-align: center;
}
.manager-call-pop .modal-footer div{
  margin: 0px;
  padding: 0px;
}
.manager-call-pop button.pop-manage,
.manager-call-pop button.pop-manage:visited{
  vertical-align:middle;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  height:50px;
  width: 200px;
  cursor:pointer;
  color:#fff;
  border: none;
  background:#222;
  /*display:inline-block;*/
  /*padding:5px 10px 6px;*/
  color:#fff;
  text-decoration:none;
  border-radius:0;
  /*-moz-border-radius:3px;
  -webkit-border-radius:3px;*/
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.1);
  border-bottom:1px solid rgba(0, 0, 0, 0.25);
  position:relative; cursor:pointer;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}
.manager-call-pop button.pop-manage:hover { background-color:#3B3B3B !important; color:#fff;}
.manager-call-pop button.pop-manage:active { top:1px;}
.manager-call-pop button:hover { background-color:#3B3B3B !important; color:#fff;}
.manager-call-pop button:active { top:1px;}
.manager-call-pop button.pop-manage-green,
.manager-call-pop button.pop-manage-green:visited { background-color:#91bd09 !important;}
.manager-call-pop button.pop-manage-green:hover { background-color:#749a02 !important;}
.manager-call-pop button.pop-manage-red,
.manager-call-pop button.pop-manage-red:visited { background-color:#D12027 !important;}
.manager-call-pop button.pop-manage-red:hover { background-color:#B6151C !important;}
.manager-call-pop button.double{
  height: 65px;
  font-size: 14px;
}
/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}
/* RTABLE */
  #rTable-btns{
    margin-left:10px;margin-right:10px;
  }
  #rTable-btns2{
    margin-right:10px;
  }
  .rTable{
    margin-top:10px;
  } 
  .rTable a.edit-btn{
    margin-right:5px;
    margin-left:5px;
  } 
  .rTable th{
    font-size: 1.1em;
    font-weight: 300;
    color:#fff;
    background-color: #3C8DBC;
    border-bottom:solid 1px #EEE !important;
    
  }
  .rTable tbody > tr > td{
    vertical-align: middle;
  }
  .rTable tbody > tr > td:last-child{
    text-align: right;
  }
  .rTable tbody > tr > th:last-child{
    text-align: right;
  }
  .rTable tr.needHover td{
    /*cursor: pointer;*/
  }
  .rTable tr.needHover:hover td{
    background-color: #f1f1f1;
  }
  .rTable tr.selected td{
    background-color: #3C8DBC;
    color: #fff;
    font-weight: 500;
  }
  .rTable tr.selected:hover td{
    background-color: #00438A;
    color: #fff;
    font-weight: 500;
  }
/* REPORTING TABLE */
  .reportTBL{
    /*margin-top:10px;*/
  } 
  .reportTBL th{
    font-size: 1.1em;
    font-weight: 300;
    background-color: #3C8DBC;
    color:#fff;
    border-top:solid 1px #373737 !important;
    border-bottom:solid 3px #373737 !important;
    
  }
  .reportTBL tr:hover td{
    background-color: #ddd;
    cursor: pointer;
  }
  .reportTBL tr.selected td{
    background-color: #3C8DBC;
    color: #fff;
    font-weight: 500;
  }
  .reportTBL tr.selected:hover td{
    background-color: #00438A;
    color: #fff;
    font-weight: 500;
  }
  .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }


  /* FOr Login */
/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
  background-color:#fff;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
.input-group .input-group-addon {
    border-radius: 0;
    background-color: #fff;
}
.lockscreen {
  background: url(../img/girl-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-shadow-box{
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.4);
}

.form-box .header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #3d9970;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}

.profile-pic{
  position: relative;
  height: 100%;
  width: 100%;
}
.profile-pic .img-title{
  position:absolute; /* absolute position (so we can position it where we want)*/  
  bottom:0px; /* position will be on bottom */  
  left:0px;  
  width:100%;  
  font-size:14px;  
  color:white;  
  /* styling bellow */  
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.profile-pic .img-title p{
  margin: 8px;
}

.box-title .form-group{
  margin-bottom: 0px;
}
.roles-form-div{
  padding:0px !important;
}
.roles-form-div .row{
  margin: 0px !important;
  margin-left: 10px !important;
}  
.roles-form-div .form-group{
  margin: 0px !important;
}
.roles-form-div .checkbox{
  margin: 5px;
}

/* PAPER FORMS */
.page-header{
  margin-bottom: 10px;
}
.div-under-no-spaces{
  margin: 0px;
}  
.div-under-no-spaces div{
  padding: 0px;
  margin:0px;
  margin-bottom: 0px;
}
.form-in-place{
  /*padding-left: 10px !important;*/
  /*border-left: 1px solid #ddd;*/
  margin-bottom: 10px !important;
}
.form-labeler{
  margin: 0px;
  margin-bottom:5px;
  font-size:16px;
}
.form-titler{
  margin: 0px;
  margin-bottom:10px;
  font-size:20px;
}
.paper-label{
  margin:0px;margin-top:10px;font-size:14px;margin-right: 35px;
}  
@media screen and (max-width: 767px) {
 .paper-label{
   text-align: left;
 }
}
.paper-input{
  border: 0px;
  border-bottom: 1px solid #888;
  padding: 0px;
  padding-left:5px;
  height: 28px;
  font-size:14px;
}
.paper-input:disabled{
  background-color:#fff;
}
.paper-select{
  border: 0px;
  border-bottom: 1px solid #888;
  padding: 0px;
  height: 28px;
  font-size:14px;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  pointer-events: none;
  color: #888;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.rwagon-show-input-row td{
  background-color: #f2f2f2;
}
.rwagon-input-row td{
  background-color: #f2f2f2;
  vertical-align: middle !important;
}
.rwagon-input-row td:last-child{
  text-align: right;
}
.rwagon-line-row td:last-child{
  text-align: right;
}
.wagon-edit-rows td:last-child{
  text-align: right;
}
.rwagon-input-row .form-group{
  margin: 0px !important;
}
